apiVersion: v1
kind: Service 
metadata: 
    name: my-cluster-ip
spec:
    selector:
        app: nginx
    ports: 
      - name: http 
        port: 8090
        targetPort: 80
        
        
        
