apiVersion: batch/v1
kind: Job
metadata:
    name: my-job
spec:
    completions: 10
    parallelism: 5
    template:
      spec: 
        containers: 
        - name: busybox 
          image: busybox
          command: 
          - /bin/sh
          - -c 
          - "sleep 10; echo JOBS"
        restartPolicy: Never 
